BASE_URL_NAME=https://yourstore.com/wp-json/wc/v3
WC_CK=your_woocommerce_consumer_key
WC_CS=your_woocommerce_consumer_secret

SMTP_HOST_NAME=smtp.yourmailprovider.com
SMTP_USER_NAME=your_email@example.com
SMTP_PASS=your_email_password
TO_EMAIL_ADDRESS=recipient@example.com